*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom, #ffffff, #f6dbbf);
    height: 100vh;
    overflow: hidden;
}

.container{
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 22px;
    width: 20.2rem;
    background-color: rgb(61, 58, 58);
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 1px 5px 16px;}

.display{
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: rgb(33, 31, 31);
    width: 18rem;
    height: 5.3rem;
    border-radius: 15px;
    padding: 1rem;
    color: white;
    font-size: 2.1rem;
    text-align: right;
}

.title{
    font-size: 1.4rem;
    margin-bottom: 13px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.3rem;
    color: rgba(100, 101, 101, 0.938);
}

.buttons{
    margin-top: 22px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 13px;
}

.btn{
    padding: 1rem;
    outline:0;
    border: 0;
    font-size: 1.2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(80, 75, 75, 0.94);
    border-radius: 50px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.216) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    color: white;
}

.equal{
    grid-column: span 2;
    background-color: rgba(236, 151, 22, 0.903);
}

.btn:hover{
    opacity: 0.7;
    transform: scale(0.9);
    transition: 0.2s ease;
}

.operator{
    background-color: rgb(112, 109, 109);
    transition: 0.2s ease;
}

.clear:hover{
    color: rgb(255, 149, 0);
}


@media(max-width:768px){
    .btn{
        font-size: 1.25rem;
        padding: 0.9rem;
    }

    .display{
        width:  17rem;
        height: 4.9rem;
        font-size: 1.7rem;
        letter-spacing: 0.3rem;
    }

    .container{
        width: 20rem;
    }

    .title{
        font-size: 1.27rem;
    }
}